body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Arial', sans-serif;
}

canvas {
  display: block;
  margin: auto;
  border: 3px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
